[Unit]
Description=Palworld Dedicated Server by A1RM4X 0.4, changed by Azar
Wants=network-online.target
After=network-online.target

[Service]
User=steam
Group=steam


Environment="templdpath=$LD_LIBRARY_PATH"
Environment="LD_LIBRARY_PATH=/home/steam/:$LD_LIBRARY_PATH"
Environment="SteamAppId=2394010"


ExecStart=/home/steam/.steam/steam/steamapps/common/PalServer/PalServer.sh -publiclobby -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS 

ExecStop=/bin/kill -s SIGINT $MAINPID

Restart=on-failure
RestartSec=10s
RuntimeMaxSec=infinity


CPUAffinity=2-3
CPUQuota=200%
CPUAccounting=true


LimitCORE=0

[Install]
WantedBy=multi-user.target
