[Unit]
Description=TrinityCore Battle.Net (Auth) Server
Wants=network-online.target mariadb.service
After=network-online.target mariadb.service
[Service]
Type=simple
User=root
WorkingDirectory=/root/TrinityCore/build/bin/RelWithDebInfo/bin
ExecStart=/root/TrinityCore/build/bin/RelWithDebInfo/bin/bnetserver
Restart=no
StandardOutput=journal
StandardError=journal
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
